<a href="https://colab.research.google.com/github/tiffanytsang/pickture-perfect/blob/master/src/HIT3QC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df = pd.read_csv('hit3dummy.csv')
df

,WorkerID,Img1,Img2,Img3,Img4,Img5,Img6,Img7,Img8,NegImg1,...,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6,Rank7,Rank8,Rank9,Rank10
0,1,1,2,3,4,5,6,7,8,9,...,1,2,3,4,5,6,7,8,9,10
1,2,1,2,3,4,5,6,7,8,9,...,1,2,4,3,6,5,8,7,10,9
2,3,1,2,3,4,5,6,7,8,9,...,1,3,4,2,5,6,8,7,10,9
3,4,1,2,3,4,5,6,7,8,9,...,2,3,4,1,6,7,5,8,9,10
4,5,1,2,3,4,5,6,7,8,9,...,2,3,5,1,4,6,7,8,9,10
5,6,1,2,3,4,5,6,7,8,9,...,2,4,5,1,3,8,6,7,9,10
6,7,1,2,3,4,5,6,7,8,9,...,1,3,5,2,4,7,6,8,10,9
7,8,1,2,3,4,5,6,7,8,9,...,1,3,4,2,5,6,7,8,9,10
8,9,1,2,3,4,5,6,7,8,9,...,3,4,5,1,2,8,6,7,10,9
9,10,1,2,3,4,5,6,7,8,9,...,1,6,9,2,3,4,5,10,8,9

In [0]:
def findUnqualified(df):
  unqualified = []
  for row in df.iterrows():
    row = row[1]
    neg1 = row["NegImg1"]
    neg2 = row["NegImg2"]
    worker = row["WorkerID"]
    for i in range(1,9):
      rank = row["Rank" + str(i)]
      if rank == neg1 or rank == neg2 and worker not in unqualified:
        unqualified.append(row["WorkerID"])
  return(unqualified)

In [33]:
print(findUnqualified(df))

[10]